<h1>These are the Labels</h1>

<div>
    {{#each labels}}
    <p>{{this.name}}</p>
    <p>{{this.city}}</p>
    <p>{{this.country}}</p>
    <p>{{this.street}}</p>
    <p>{{this.streetNumber}}</p>
    <p>{{this.zipCode}}</p>
    <img src="{{this.logo}}" alt="image">
    <form method="post" action="/dashboard/label/delete/{{this._id}}">
        <button>Delete</button>
</form>
    {{/each}}
</div>